In [1]:
print('Hello World')

Hello World

In [2]:
my_str = 'Jupyter'
my_int = 10

print(my_str)
print(my_int)

Jupyter
10

In [3]:
my_str

'Jupyter'

In [4]:
print(my_str)
print(my_int)

Jupyter
10

In [5]:
number_of_apples = 5

if number_of_apples < 1:
    print('You have no apples')
elif number_of_apples == 1:
    print('You have one apple')
elif number_of_apples < 4:
    print('You have a few apples')
else:
    print('You have many apples!')

You have many apples!

In [6]:
student_names = ['Ali', 'Ahmed', 'Ola', 'Amr']
student_names[1]

'Ahmed'

In [8]:
student_names[0]

'Ali'

In [9]:
student_names[-1]

'Amr'

In [10]:
student_names[0:2]

['Ali', 'Ahmed']

In [11]:
student_names[1:3]

['Ahmed', 'Ola']

In [12]:
student_names[:2]

['Ali', 'Ahmed']

In [13]:
student_names[2:]

['Ola', 'Amr']

In [14]:
student_names.append('Omar')
student_names

['Ali', 'Ahmed', 'Ola', 'Amr', 'Omar']

In [15]:
student_names.insert(2, 'Taha')
student_names

['Ali', 'Ahmed', 'Taha', 'Ola', 'Amr', 'Omar']

In [16]:
del student_names[2]
student_names

['Ali', 'Ahmed', 'Ola', 'Amr', 'Omar']

In [17]:
student_names.append('Taha')
student_names.append('Taha')
student_names

['Ali', 'Ahmed', 'Ola', 'Amr', 'Omar', 'Taha', 'Taha']

In [19]:
student_names = ['Ali', 'Ahmed', 'Ola', 'Amr']
for student_name in student_names:
    print('Hello '+student_name+'!')

Hello Ali!
Hello Ahmed!
Hello Ola!
Hello Amr!

In [20]:
# Initialize an empty list and add to it the
# student names containing more than four characters
long_names = []
for student_name in student_names:
    # This is our criterion
    if len(student_name) > 4:
        long_names.append(student_name)

long_names

['Ahmed']

In [24]:
#with duplicate
student_names = ['Ali', 'Ahmed', 'Ola', 'Amr']
student_pairs = []
for student_name_0 in student_names:
    for student_name_1 in student_names:
        student_pairs.append(
            (student_name_0, student_name_1)
        )

student_pairs

[('Ali', 'Ali'),
 ('Ali', 'Ahmed'),
 ('Ali', 'Ola'),
 ('Ali', 'Amr'),
 ('Ahmed', 'Ali'),
 ('Ahmed', 'Ahmed'),
 ('Ahmed', 'Ola'),
 ('Ahmed', 'Amr'),
 ('Ola', 'Ali'),
 ('Ola', 'Ahmed'),
 ('Ola', 'Ola'),
 ('Ola', 'Amr'),
 ('Amr', 'Ali'),
 ('Amr', 'Ahmed'),
 ('Amr', 'Ola'),
 ('Amr', 'Amr')]

In [22]:
student_pairs[0]

('Ali', 'Ali')

In [60]:
# without duplicate
student_names = ['Ali', 'Ahmed', 'Ola', 'Amr']
student_pairs = []
for student_name_0 in student_names:
    for student_name_1 in student_names:
        if student_name_0 != student_name_1: ##
            student_pairs.append(
                (student_name_0, student_name_1)
            )

student_pairs

[('Ali', 'Ahmed'),
 ('Ali', 'Ola'),
 ('Ali', 'Amr'),
 ('Ahmed', 'Ali'),
 ('Ahmed', 'Ola'),
 ('Ahmed', 'Amr'),
 ('Ola', 'Ali'),
 ('Ola', 'Ahmed'),
 ('Ola', 'Amr'),
 ('Amr', 'Ali'),
 ('Amr', 'Ahmed'),
 ('Amr', 'Ola')]

In [26]:
foreign_languages = {
    'Ahmed': 'Deutsch',
    'Ali': 'French',
    'Ola': 'Deutsch',
    'Amr': 'Italian',
}

In [27]:
foreign_languages['Ali']

'French'

In [28]:
'Omar' in foreign_languages

False

In [29]:
'Amr' in foreign_languages

True

In [30]:
'amr' in foreign_languages

False

In [31]:
# Add an entry that doesn't exist
foreign_languages['Omar'] = 'French'
foreign_languages

{'Ahmed': 'Deutsch',
 'Ali': 'French',
 'Ola': 'Deutsch',
 'Amr': 'Italian',
 'Omar': 'French'}

In [32]:
# Delete an entry that exists
del foreign_languages['Amr']
foreign_languages

{'Ahmed': 'Deutsch', 'Ali': 'French', 'Ola': 'Deutsch', 'Omar': 'French'}

In [33]:
# Change an entry that does exist
foreign_languages['Omar'] = 'Italian'
foreign_languages

{'Ahmed': 'Deutsch', 'Ali': 'French', 'Ola': 'Deutsch', 'Omar': 'Italian'}

In [34]:
for key in foreign_languages:
    value = foreign_languages[key]
    print(key, 'is taking', value)

Ahmed is taking Deutsch
Ali is taking French
Ola is taking Deutsch
Omar is taking Italian

In [35]:
for key, value in foreign_languages.items():
    print(key, 'is taking', value)

Ahmed is taking Deutsch
Ali is taking French
Ola is taking Deutsch
Omar is taking Italian

In [40]:
student_grades = ('Ahmed', 'Deutsch', 'A')
student_name, subject, grade = student_grades
print(student_name, 'got a grade of', grade, 'in', subject)

Ahmed got a grade of A in Deutsch

In [41]:
record = {
    'name': 'Ali',
    'subject': 'French',
    'grade': 'A',
}
print(record['name'],
      'got a grade of', record['grade'],
      'in', record['subject'])

Ali got a grade of A in French

In [42]:
student_grades = [
    ('Ahmed', 'Deutsch', 'A'),
    ('Ali', 'French', 'C'),
    ('Ola', 'Deutsch', 'B+'),
    ('Omar', 'Italian', 'A-'),
]

In [43]:
student_grades[1]

('Ali', 'French', 'C')

In [44]:
student_grades[1][2]

'C'

In [45]:
student_grade_records = []
for student_name, subject, grade in student_grades:
    record = {
        'name': student_name,
        'subject': subject,
        'grade': grade,
    }
    student_grade_records.append(record)
    
student_grade_records

[{'name': 'Ahmed', 'subject': 'Deutsch', 'grade': 'A'},
 {'name': 'Ali', 'subject': 'French', 'grade': 'C'},
 {'name': 'Ola', 'subject': 'Deutsch', 'grade': 'B+'},
 {'name': 'Omar', 'subject': 'Italian', 'grade': 'A-'}]

In [46]:
student_grade_records[1]

{'name': 'Ali', 'subject': 'French', 'grade': 'C'}

In [47]:
student_grade_records[1]['grade']

'C'

In [48]:
for record in student_grade_records:
    if record['grade'].startswith('A'):
        print('Congratulations', record['name'], 
              'on getting an', record['grade'], 
              'in', record['subject'])

Congratulations Ahmed on getting an A in Deutsch
Congratulations Omar on getting an A- in Italian

In [49]:
foreign_language_grades = {}
for student_name, subject, grade in student_grades:
    record = {
        'subject': subject,
        'grade': grade,
    }
    foreign_language_grades[student_name] = record
    
foreign_language_grades

{'Ahmed': {'subject': 'Deutsch', 'grade': 'A'},
 'Ali': {'subject': 'French', 'grade': 'C'},
 'Ola': {'subject': 'Deutsch', 'grade': 'B+'},
 'Omar': {'subject': 'Italian', 'grade': 'A-'}}

In [50]:
foreign_language_grades['Ahmed']

{'subject': 'Deutsch', 'grade': 'A'}

In [51]:
foreign_language_grades['Ahmed']['grade']

'A'

In [52]:
student_course_grades = {}
for student_name, subject, grade in student_grades:
    student_course_grades[student_name, subject] = grade
    
student_course_grades

{('Ahmed', 'Deutsch'): 'A',
 ('Ali', 'French'): 'C',
 ('Ola', 'Deutsch'): 'B+',
 ('Omar', 'Italian'): 'A-'}

In [53]:
student_course_grades['Ali', 'Math'] = 'A'
student_course_grades['Ali', 'History'] = 'B'

In [54]:
student_course_grades

{('Ahmed', 'Deutsch'): 'A',
 ('Ali', 'French'): 'C',
 ('Ola', 'Deutsch'): 'B+',
 ('Omar', 'Italian'): 'A-',
 ('Ali', 'Math'): 'A',
 ('Ali', 'History'): 'B'}

In [55]:
student_report_cards = {}
for student_name, subject, grade in student_grades:
    if student_name not in student_report_cards:
        student_report_cards[student_name] = {}
    student_report_cards[student_name][subject] = grade

In [56]:
student_report_cards

{'Ahmed': {'Deutsch': 'A'},
 'Ali': {'French': 'C'},
 'Ola': {'Deutsch': 'B+'},
 'Omar': {'Italian': 'A-'}}

In [57]:
student_report_cards['Ali']['Math'] = 'A'
student_report_cards['Ali']['History'] = 'B'

In [59]:
student_report_cards['Ali']

{'French': 'C', 'Math': 'A', 'History': 'B'}